# Drupal
web/sites/*/files/*
!web/sites/*/files/.htaccess
web/sites/development.services.yml
web/sites/default/settings.local.php

# Node
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local

# Docker
.env
*.log
.DS_Store

# Secrets
x-consumer-key.txt